h1 {
  color: #287ce2;
  text-align: center;
  font-family: "PT Mono", monospace;
  text-align: center;
}
h2 {
  text-align: right;
  color: #287ce2;
  font-family: "PT Mono", monospace;
  font-size: 25px;
  font-weight: bolder;
  margin-right: 20px;
}
body {
  background: #fefbf3;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.temperature {
  color: #287ce2;
  font-size: 20px;
  font-weight: bolder;
  font-family: "PT Mono", monospace;
}

.current {
  font-size: 20px;
  font-weight: bolder;
  font-family: "PT Mono", monospace;
}

.size {
  color: #0d6efd;
  font-size: 50px;
  font-weight: bolder;
}

.day {
  color: #287ce2;
  font-size: 20px;
  font-weight: bold;
  font-family: "PT Mono", monospace;
}
.futur {
  font-size: 20px;
  font-weight: bold;
}
.image {
  font-size: 30px;
  font-weight: bold;
}
.frame {
  border: 1px solid #287ce2;
  padding: 15px;
  margin: 200 px;

  max-width: 800px;
  border-radius: 10px;
}

.temp {
  font-size: 40px;
  font-weight: normal;
}
.temper {
  font-size: 60px;
  font-weight: bold;
}
.btn {
  box-shadow: 2px 2px 1px #0e4290;
  border: none;
}

.temperHead {
  font-size: 40px;
}

.city {
  color: #287ce2;
  font-size: 40px;
  font-weight: bold;
}

.units {
  position: relative;
  top: -30px;
  color: #287ce2;
}
.unit {
  position: relative;
  top: -12px;
  color: #287ce2;
}
.precipitation {
  font-size: 30px;
  font-weight: bold;
}
.wind .humidity {
  font-size: 30px;
  font-weight: bold;
}

.forprecip {
  font-size: 20px;
  font-weight: normal;
}

.forwind {
  font-size: 20px;
  font-weight: normal;
}
